@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

:root {
    --fill-color: #3498db;
    --empty-color: #383838;
    --line-border-empty-color: #e0e0e0;
    --white: #fff;
    --font-size-normal: 14px;
}

body {
    font-family: 'Muli', sans-serif;

    /* Alignment */
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

.container {
    text-align: center;
}

.progress-container {
    /* Spacing */
    margin-bottom: 10px;

    /* Alignment */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Positioning */
    position: relative;

    max-width: 100%;
    width: 290px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty-color);
    height: 3px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.progress {
    position: absolute;
    z-index: -1;
    background-color: var(--fill-color);
    height: 3px;
    width: 0%;
    transition: 0.4s ease;
}

.circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 2px solid var(--line-border-empty-color);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--fill-color);
}

.btn {
    cursor: pointer;

    /* Coloring */
    background-color: var(--fill-color);
    color: var(--white);

    /* Borders */
    border: none;
    border-radius: 5px;

    /* Font */
    font-size: var(--font-size-normal);

    /* Spacing */
    padding: 5px 20px;
    margin-inline: 5px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
    cursor: not-allowed;

    /* Coloring */
    background-color: var(--line-border-empty-color);
}